<div class="quiz-container">
  <form #f="ngForm">
  <div class="section-heading">Question </div>
    <div class="quiz-question">{{ currentQue + 1 + ')' }}  {{ test[currentQue]["question"] }}</div>
    <div class="quiz-option-container">
        <div class="quiz-option-list" *ngFor="let option of test[currentQue]['options']">
              <div class="section-heading">Options </div>
              <ul class="options-list" *ngFor="let ans of option | keyvalue">
                <li [ngClass]="{'quiz-option selected-option': selectedOptionClass === ans.value, 'quiz-option' : selectedOptionClass !== ans.value}">
                  {{ ans.key + ' )' }} 
                  <span [innerHTML]="ans.value"></span>
                  <input name="quizoption" [value]="ans.value" (change)="onSelectOptionHandler($event)" class="quiz-radio-btn" type="radio" id="quizoptions" />
                </li>

              </ul>  
              <div class="btn-section justify-content-between">
                  <button class="btn btn-primary" (click)="prevQuestionHandler()" [disabled]="currentQue === 0">Previous</button>
                  <button class="btn btn-primary" (click)="nextQuestionHandler()" [disabled]="currentQue === test.length">Next</button>
                  <button class="btn btn-danger" (click)="quitQuizHandler()">Quit</button>
              </div>
        </div>
    </div>
  </form>
</div>
