.quiz-container {
    padding: 1rem;
}

.quiz-question {
    font-size: 1.5rem;
    font-weight: bold;
}

.section-heading {
    color: #FF2424;
    padding: 16px 0;
}

.options-list {
 padding-left: 0 !important;
}

.quiz-option-list li {
    list-style: none;
    margin: 0;
    padding-left: 5px;
    padding-right: 10px;
}

.quiz-option, .selected-option { 
    padding: 16px 0;
    background-color: #dee2e6;
}

.quiz-option span, .selected-option span { padding-left: 1rem;}

.quiz-radio-btn {
    float: right;
    margin-top: 8px;
}

.selected-option {
    background-color: #B3FFAE;
}

.btn-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.btn-primary {
    background-color: #0b76c3;
    border-radius: 0px;
    width: 140px;
}

.btn-danger {
    border-radius: 0px;
    width: 140px;
}